<h1>About</h1>
<p>
	This app was created to connect young families at 
	<%= link_to "City Church SF", "http://citychurchsf.org"%> 
	with 'Villagers' who are willing to donate their time to 
	look after their children. 
</p>
<p>
	This idea stemed from a love of children and a desire to 
	interact more with the wider church family.
	During the many baptisms at our church we pledge our love and 
	support for the families that bring their children forward. 
	I want to offer this site as a practical example of this love 
	in action.
</p>
