<div class= "hero-unit">
	<h1>It takes a village...</h1>
	<p>
		You shouldn't have to do this alone. It takes a whole community 
		to raise a child.
		Join us on the village green to find a neighbour who is 
		willing to share your load.
	</p>
	<p>
		<%= link_to "Join the Village!", '#', class: "btn btn-success btn-large" %>
	</p>
</div>